* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: black;
  font-family: "FuturaMediumC";
}

header {
  height: 48px;

  margin-bottom: 46px;
}

header img {
  width: 101px;
  height: 40px;

  float: left;
  padding-left: 10px;
}

h1 {
height: 58px;

float: right;
padding-right: 10px;

font-family: "FuturaMediumC";
font-style: normal;
font-weight: 500;
line-height: 28px;
font-size: 25px;
text-align: right;

color: #FFFFFF;
}
