* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: black;
}

header {
  display: flex;
  flex-direction: row;
  height: 70px;

  margin-bottom: 15vw;
}

header img {
  width: 36vw;
  height: 15vw;

  float: left;
  margin-left: -20px;
}

main p {
  font-family: "FuturaMediumC", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 7vw;
  font-size: 6vw;

  width: 70%;
  float: right;
  margin-top: -78vw;
  margin-bottom: 20px;

  color: #FFFFFF;
}

.notes {
  margin-top: 80vw;
}

.notes img {
  width: 100%;
}

.notes img:nth-of-type(1) {
  position: absolute;
  z-index: 1;

  margin-left: -10vw;
  margin-top: -60vw;
  width: 90%;

  float: left;
}

.notes img:nth-of-type(2) {
  position: absolute;
  z-index: 2;
}

.note-button {
  font-family: "FuturaMediumC", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1px;
  text-align: center;
  color: white;

  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.notes button:nth-of-type(1) {
  position: absolute;
  z-index: 3;

  margin-left: 6vw;
  margin-top: 1vw;

  width: 8vw;
  height: 8vw;
  cursor: pointer;
  border-radius: 50%;
  border-style: hidden;

  background-color: white;
  outline:none;
}

.notes button:nth-of-type(2) {
  position: absolute;
  z-index: 4;

  margin-left: 15vw;
  margin-top: 14.5vw;

  width: 8vw;
  height: 8vw;
  cursor: pointer;
  border-radius: 50%;
  border-style: hidden;

  background-color: white;
  outline:none;
}

.notes button:nth-of-type(3) {
  position: absolute;
  z-index: 5;

  margin-left: 28vw;
  margin-top: 19vw;

  width: 8vw;
  height: 8vw;
  cursor: pointer;
  border-radius: 50%;
  border-style: hidden;

  background-color: white;
  outline:none;
}

.notes button:nth-of-type(4) {
  position: absolute;
  z-index: 6;

  margin-left: 41vw;
  margin-top: 14.5vw;

  width: 8vw;
  height: 8vw;
  cursor: pointer;
  border-radius: 50%;
  border-style: hidden;

  background-color: white;
  outline:none;
}

.notes button:nth-of-type(5) {
  position: absolute;
  z-index: 7;

  margin-left: 58vw;
  margin-top: 10.1vw;

  width: 8vw;
  height: 8vw;
  cursor: pointer;
  border-radius: 50%;
  border-style: hidden;

  background-color: white;
  outline:none;
}

.notes button:nth-of-type(6) {
  position: absolute;
  z-index: 8;

  margin-left: 71vw;
  margin-top: 5.5vw;

  width: 8vw;
  height: 8vw;
  cursor: pointer;
  border-radius: 50%;
  border-style: hidden;

  background-color: white;
  outline:none;
}

.notes button:nth-of-type(7) {
  position: absolute;
  z-index: 9;

  margin-left: 85vw;
  margin-top: 5.5vw;

  width: 8vw;
  height: 8vw;
  cursor: pointer;
  border-radius: 50%;
  border-style: hidden;

  background-color: white;
  outline:none;
}

.note-button:hover {
  font-family: "FuturaMediumC", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1vw;
  line-height: 1vw;
  text-align: center;
  color: black;
}

.note-button:hover, .note-button:focus, .note-button:active {
  -webkit-transform: scale(1.8);
  transform: scale(1.8);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.poster img {
  width: 100%;
  margin-top: 50vw;
  transition: 0.7s;
}

.poster-2 img {
  width: 100%;
  transition: 0.7s;
}

.poster, .poster-2 {
  background-color: white;
  transition: 0.7s;

  padding-bottom: 3vw;
  margin-bottom: 0.26vw;
}

.poster:hover, .poster-2:hover {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

h2 {
  font-family: "FuturaMediumC", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 7vw;
  font-size: 6vw;

  padding-bottom: 15px;
  padding-left: 11px;
}

.poster-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-left: 11px;
}

.dates {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.dates h3 {
  font-family: "FuturaMediumC", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 5vw;
  line-height: 4vw;

  padding-bottom: 5px;
}

.button button {
  font-family: "FuturaBookC", Helvetica, Arial, sans-serif;
  font-size: 4vw;
  line-height: 5vw;

  background-color: white;
  border-color: black;
  border-width: medium;

  margin-right: 11px;
}

footer {
  background-color: white;
  padding-left: 11px;
  padding-right: 11px;
}

.info {
  display: grid;
  width: 100%;
  grid-template-columns: 18vw 18vw 5vw 18vw 18vw;
  grid-template-rows: 20vw 20vw;
  grid-column-gap: 5vw;
  grid-row-gap: 5vw;
  justify-items: start;
  align-items: start;

  padding-top: 8vw;
  padding-bottom: 5vw;
  justify-content: center;
}

.info h3 {
  font-family: "FuturaMediumC";
  font-style: normal;
  font-weight: 500;
  line-height: 4vw;
  font-size: 3vw;

  color: black;
}

.info a, p {
  font-family: "FuturaBookC";
  line-height: 3vw;
  font-size: 2vw;
  text-decoration: none;

  color: black;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  height: 8vw;
}

.copyright p {
  font-family: "FuturaBookC";
  line-height: 2vw;
  font-size: 2vw;

  color: black;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  margin-right: 1vw;
}

.social img {
  width: 100%;
  padding-left: 2vw;
}

@media (min-width: 768px) {
  header img {
    width: 270px;
    height: 90px;
  }

  .notes img:nth-of-type(1) {
    width: 70%;
    margin-top: -60vw;
  }

  main p {
    line-height: 5vw;
    font-size: 4vw;
    width: 42%;

    margin-top: -76vw;
  }

  .button button {
    border-width: thick;
  }

  .note-button:hover {
    font-size: 1.2vw;
    line-height: 1.2vw;
  }

  .poster img {
    margin-top: 85vh;
    width: 70%;
    margin-left: 15vw;
  }

  .poster-2 img {
    width: 70%;
    margin-left: 15vw;
  }
}

@media (min-width: 1024px) {
  header {
    margin-bottom: 50px;
  }

  header img {
    margin-top: -20px;

    width: 260px;
    height: 110px;
  }

  main p {
    line-height: 5vw;
    font-size: 4vw;
    width: 45%;

    margin-top: -56vw;
  }

  .notes {
    margin-top: 60vw;
  }

  .notes img:nth-of-type(1) {
    width: 60%;
    margin-top: -46vw;
    margin-left: -5vw;
  }

  .poster-info {
    margin-left: 4vw
  }

  .note-button:hover {
    font-size: 1.3vw;
    line-height: 1.3vw;
  }

  .poster {
    text-align: center;
  }

  h2 {
    font-size: 4vw;
    line-height: 4vw;
    text-align: left;
    padding-left: 4vw;

    padding-bottom: 5vw;
  }

  .dates h3 {
    font-size: 3vw;
    line-height: 2vw;
    text-align: left;

    padding-bottom: 10px;
  }

  .button button {
    font-family: "FuturaBookC", Helvetica, Arial, sans-serif;
    font-size: 3vw;
    line-height: 4vw;

    border-width: thick;

    margin-right: 4vw;
  }

  .poster img {
    margin-top: 85vh;
    width: 60%;
    margin-left: 0;
  }

  .poster-2 {
    text-align: center;
  }

  .poster-2 img {
    width: 60%;
  }

  .info  {
    grid-template-columns: 15vw 15vw 9vw 15vw 15vw ;
    grid-template-rows: 10vw 10vw;
    grid-column-gap: 1vw;
  }

  .info h3 {
    line-height: 132%;
    font-size: 130%;
  }

  .info a, p {
    line-height: 122%;
    font-size: 120%;
  }

  .copyright p {
    font-size: 120%;
  }
}

@media (min-width: 1440px) {
  .poster img {
    margin-top: 95vh;
    width: 60%;
    margin-left: 0;
  }

  h2 {
    line-height: 6vw;
    font-size: 5vw;

    padding-bottom: 10vw;
  }

  .dates h3 {
    font-size: 3vw;
    line-height: 2vw;

    padding-bottom: 2vw;
  }

  .info  {
    grid-template-columns: 12vw 12vw 8vw 12vw 12vw ;
    grid-template-rows: 10vw 10vw;
    grid-column-gap: 1vw;
  }
}
