* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
  font-size: 1vw;
}

body {
  margin-left: 3vw;
  margin-right: 3vw;

  background-color: black;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 15vw;
}

header img {
  height: 10vw;
  width: 30vw;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav a {
  font-family: "FuturaBookC";
  line-height: 1;
  font-size: 3rem;
  text-transform: uppercase;
  text-decoration: none;

  color: #FFFFFF;

  margin-bottom: 1vw;
  padding-left: 2vw;
}

.cover {
  margin-top: 11vw;
  margin-bottom: 11vw;

  text-transform: uppercase;
}

.cover h1 {
  font-family: "FuturaMediumC", Helvetica, Arial;
  font-weight: 500;
  line-height: 1;
  font-size: 5.5rem;

  color: #FFFFFF;
}

.cover h2 {
  padding-top: 1.5vw;
  font-family: "FuturaMediumC", Helvetica, Arial;
  font-weight: 500;
  line-height: 1;
  font-size: 9rem;

  color: #B8F2F6;
}

.cover img {
  display: block;
  margin: 11vw auto 0vw;
  width: 55%;
}

#about {
  width: 85%;
  margin-bottom: 11vw;
}

#about p{
  font-family: "FuturaBookC", Helvetica, Arial;
  line-height: 1;
  font-size: 5rem;
  text-align: left;

  color: #FFFFFF;
}

.schedule {
  display: block;
}

.afisha h2 {
  margin-bottom: 10vw;

  font-family: "FuturaMediumC", Helvetica, Arial;
  font-weight: 500;
  line-height: 1;
  font-size: 10rem;
  text-transform: uppercase;

  color: #B8F2F6;
}

.perfomance {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-bottom: 9vw;
}

.dates {
  margin-bottom: 2.5vw;
}

.dates-premiere {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  margin-bottom: 2.5vw;
}

.dates-premiere p {
  font-family: "FuturaMediumC", Helvetica, Arial;
  font-weight: 500;
  line-height: 1;
  font-size: 4rem;
  text-transform: uppercase;
  float: right;
  margin-bottom: 0.6vw;

  color: #B8F2F6;
}

.perfomance h3 {

  font-family: "FuturaMediumC", Helvetica, Arial;
  font-weight: 500;
  line-height: 1;
  font-size: 8rem;

  color: #FFFFFF;
}

.perfomance h4 {
  margin-bottom: 2vw;

  font-family: "FuturaMediumC", Helvetica, Arial;
  font-weight: 500;
  line-height: 1;
  font-size: 7rem;

  color: #FFFFFF;
}

.time {
  margin-bottom: 2vw;
}

.time p {
  font-family: "FuturaBookC", Helvetica, Arial;
  line-height: 1;
  font-size: 4rem;

  color: #FFFFFF;
}

.buy-button {
  width: 100%;
  height: 9vw;

  font-family: "FuturaBookC", Helvetica, Arial;
  line-height: 1;
  font-size: 5rem;
  text-align: center;

  background: #B8F2F6;
  border-radius: 7px;
  border-style: none;
}

.buy-button:hover {
  color: #B8F2F6;
  background-color: black;
  border-style: solid;
  border-color: #B8F2F6;

  transition: 0.8s;
}

#contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-top: 10vw;
  margin-bottom: 10vw;
}

#contacts h3 {
  margin-bottom: 1.5vw;
  font-family: "FuturaMediumC", Helvetica, Arial;
  font-style: normal;
  font-weight: 500;
  font-size: 5rem;
  line-height: 1;

  color: white;
}

#contacts a, p {
  font-family: "FuturaBookC", Helvetica, Arial;
  font-size: 4rem;
  line-height: 1.4;
  text-decoration: none;

  color: white;
}

.adress {
  margin-bottom: 7vw;
}

#contacts a:hover {
  text-decoration: underline;
}

.admin {
  margin-bottom: 7vw;
}

.ticket-window {
  margin-bottom: 7vw;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  height: 8vw;
  margin-top: 10vw;
}

.copyright p {
  font-family: "FuturaBookC", Helvetica, Arial;
  line-height: 1;
  font-size: 3.5rem;

  color: white;
}

.social-sites {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.social-sites img {
  height: 7vw;
  padding-left: 2.5vw;
  margin-bottom: 5vw;
}

hr {
  color: white;
  background-color: white;
  border: none;
  height: 0.2vw;
}

@media (min-width: 768px) {
  header {
    height: 9vw;
  }

  header img:first-of-type {
    width: 17vw;
  }

  nav a {
    font-size: 2.5vw;
    line-height: 1;

    margin-bottom: 0.8vw;
  }

  .cover h1 {
    font-size: 4rem;
  }

  .cover h2 {
    font-size: 7rem;
  }

  .cover img {
    width: 50%;
  }

  #about {
    width: 70%;
  }

  #about p {
    font-size: 3.2rem;
  }

  .afisha h2 {
    font-size: 7rem;
  }

  .perfomance {
    margin-bottom: 0vw;
  }

  .perfomance h3 {
    font-size: 6rem;
  }

  .perfomance h4 {
    font-size: 4rem;
  }

  .dates-premiere p {
    font-size: 3rem;
  }

  .time {
    margin-bottom: 2vw;
  }

  .time p {
    font-family: "FuturaBookC";
    line-height: 1;
    font-size: 3rem;

    color: #FFFFFF;
  }

  .buy-button {
    width: 100%;
    height: 7vw;

    font-size: 3rem;
  }

  .schedule {
    display: grid;
    width: 100%;
    grid-template-columns: 35vw 35vw;
    grid-template-rows: 30vw 30vw 30vw 30vw;
    grid-column-gap: 20vw;
    grid-row-gap: 12vw;

    margin-bottom: 7vw;
  }

  #contacts {
    display: grid;
    width: 100%;
    grid-template-columns: 40vw 24vw;
    grid-template-rows: 12vw 12vw;
    grid-column-gap: 10vw;
    grid-row-gap: 10vw;
    justify-items: start;
    align-items: start;
    text-align: left;

    justify-content: space-between;

    margin-top: 7vw;
    margin-bottom: 7vw;
  }

  #contacts h3 {
    margin-bottom: 1vw;

    font-size: 3.5rem;
    line-height: 1;

    color: white;
  }

  #contacts a, p {
    font-size: 2.5rem;
    line-height: 1.4;
  }

  .copyright p {
    font-family: "FuturaBookC";
    line-height: 1;
    font-size: 2rem;
 }

  .social-sites img {
    height: 4.5vw;
  }
}

@media (min-width: 1024px) {
  .cover h1 {
    font-size: 3rem;
  }

  .cover h2 {
    font-size: 6rem;
  }

  #about p {
    font-size: 2.8rem;
  }

  .afisha h2 {
    font-size: 5rem;

    margin-bottom: 5vw;
  }

  .schedule {
    display: grid;
    width: 100%;
    grid-template-columns: 27vw 27vw 27vw;
    grid-template-rows: 19vw 19vw 19vw;
    grid-column-gap: 6vw;
    grid-row-gap: 6vw;
    justify-content: space-between;

    margin-bottom: 6vw;
  }

  .perfomance h3 {
    font-size: 4rem;
  }

  .perfomance h4 {
    font-size: 3rem;

    margin-bottom: 1vw;
  }

  .dates {
    margin-bottom: 1.5vw;
  }

  .dates-premiere {
    margin-bottom: 1.5vw;
  }

  .dates-premiere p {
    font-size: 2rem;
  }

  .time {
    margin-bottom: 1.5vw;
  }

  .time p {
    font-size: 2rem;
  }

  .buy-button {
    width: 100%;
    height: 4.5vw;

    font-size: 2rem;
  }

  #contacts {
    grid-template-columns: 35vw 32vw;
    grid-template-rows: 5vw 5vw;
    grid-column-gap: 10vw;
    grid-row-gap: 6vw;

    margin-top: 6vw;
    margin-bottom: 6vw;
  }

  .grid-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }

  #contacts h3 {
    margin-bottom: 1vw;
    padding-right: 2vw;

    font-size: 2.5rem;
    line-height: 1;

    color: white;
  }

  #contacts a, p {
    font-size: 1.7rem;
    line-height: 1.2;
  }

  .footer {
    margin-top: 6vw;
  }

  .copyright p {
    font-family: "FuturaBookC";
    line-height: 1;
    font-size: 1.7rem;
 }

  .social-sites img {
    height: 3.5vw;
    margin-bottom: 3vw;
  }
}

@media (min-width: 1440px) {
  header {
    height: 13vw;
  }

  header img {
    height: 6vw;
  }

  label {
    display: none;
  }

  #toggle {
    display: none;
  }

  nav a {
    font-size: 2rem;
    padding-left: 3.5vw;
  }

  .cover {
    margin-top: 6vw;
    margin-bottom: 10vw;
  }

  .cover img {
    width: 27%;
    margin-left: 10vw;
    margin-bottom: 20vw;
    margin-top: -10vw;
    float: right;
  }

  #about {
    margin-bottom: 28vw;
  }

  #about p {
    width: 70%;
    font-size: 2.5rem;
  }
}
